@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');
body {
    background: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    background-size: 600% 600%;
    animation: Gradient 20s ease infinite;
}

.photo {
    height: 50vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    float: right;
    margin: 5px;
}

.wrap {
    height: auto;
    background: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    background-size: 600% 600%;
    animation: Gradient 20s ease infinite;
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

.story {
    height: 80vh;
}

.text p {
    margin: 40px;
    font-size: 23px;
    margin-left: 90px;
    float: left;
    color: #fff;
    line-height: 30px;
    font-family: 'Baloo Tammudu 2', cursive;
}

.story {
    display: flex;
    justify-content: space-around;
    width: 90%;
}

.blocks {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lin {
    height: 20vh;
    width: 0px;
    border-right: #fff dashed 3px;
}

.socialMedia img {
    height: 30px;
    width: 30px;
}

.socialMedia {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30vh;
    background-color: #141414;
    flex-direction: row;
}

.left3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.left3,
.right3 {
    width: 50%;
    height: 100%;
}

.contact {
    text-align: center;
    width: 100%;
    font-size: 15px;
    color: #fff;
    opacity: 0.9;
}

.about {
    color: #fff;
    font-size: 30px;
    margin-right: 50px;
    text-align: center;
    margin-top: 40px;
    font-family: 'Mali', cursive;
}

.projectPhoto {
    height: 70vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.describ {
    display: flex;
    flex-direction: column;
    font-family: 'Baloo Tammudu 2', cursive;
    height: 70vh;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.photoP {
    height: 65%;
    width: 75%;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.block {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.describ .nhead {
    font-family: 'Delius', cursive;
    margin-top: -40px;
    width: 100%;
    margin-right: 50px;
    text-align: center;
}

.arrow {
    height: 40vh;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.reverse {
    flex-direction: row-reverse;
    margin-right: 0;
    margin-left: 40px;
}

@media screen and (max-width: 1000px) {
    .nhead {
        font-size: 30px;
    }
    .text p {
        font-size: 18px;
    }
}

@media screen and (max-width: 900px) {
    .story {
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .text {
        width: 90%;
        font-size: 10px;
        padding: 10px;
    }
    .theStory {
        width: 100%;
    }
    .photo {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .nhead {
        font-size: 25px;
    }
}

@media screen and (max-width: 750px) {
    .myPhoto {
        border: 2px solid #141414;
        min-height: 350px;
        min-width: 300px;
    }
}

@media screen and (max-width: 800px) {
    .describ .nhead {
        margin-right: 10px;
    }
    .describ {
        width: 100%;
        min-height: 40vh;
    }
    .projectPhoto {
        width: 100%;
        min-height: 50vh;
    }
    .describ .nhead {
        font-family: 'Delius', cursive;
        margin-top: 0;
        width: 100%;
        margin-right: 20px;
        text-align: center;
    }
    .wrap {
        height: auto;
    }
    .photoP {
        height: 70%;
        width: 80%;
    }
    .block {
        flex-direction: column;
    }
    .reverse {
        flex-direction: column;
        margin-left: 10px;
    }
    .text p {
        font-size: 15px;
    }
    .arrow {
        height: 20vh;
    }
    .block {
        min-height: 70vh;
    }
    .about {
        font-size: 18px;
    }
    .nhead {
        font-size: 25px;
    }
}

@media screen and (max-height: 600px) {
    .wrap {
        display: flex;
        flex-direction: column;
    }
    .myPhoto {
        max-height: 300px;
        max-width: 250px;
    }
    .myImprovementWay {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 20vh;
    }
    .footer {
        position: relative;
        top: 20vh;
    }
}

@media screen and (max-height: 400px) {
    .myPhoto {
        height: 100px;
        width: 50px;
    }
    .blocks img {
        max-height: 20vh;
    }
    .head {
        height: 10vh;
    }
    .myImprovementWay {
        top: 40vh;
    }
    .footer {
        top: 40vh;
    }
    .block {
        height: 100px;
    }
}